.header {
  text-align: center;
}
.column {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
.firstBlock {
  width: 300px;
}
.verticalCenter {
  position: relative;
  height: 10em;
  top: 50%;
  transform: translate(0, -50%);
}
.floatLeft {
  float: left;
}

body:active {
  color: #59ff00;
  background: black;
  font-family: sans-serif;
}
ol>.firstItem {
 background-color: red;
}
ol>.secondItem {
  background-color: green;

}
ol>.thirdItem {
  background-color: blue;

}
.styledV {
  border: 1px solid #cdbfe3;
  border-radius: 15;
  text-align: center;
  width: 144px;
  height: 144px;
  font-family: sans-serif, "Helvetica neue";
  line-height: 140px;
  font-size: 108px;
  background-color: #6e0bd8;
  color: white;
  float: left;
  top: 0px;
}
