.intro {

  color: blue;
  font-style: italics;
}
.sidebar {
  width: 25%;
  float: right;
  border: 2px solid red;
  padding: 5px;
  margin: 1em;
  color: red;
}
.column {
  width: 300px;
  float: left;
  padding: 10px;
}

.floatLeft {
  float: left;
}
.post {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 7px;
  margin-bottom: 7px;

 /*border: 2px red solid;*/
}
